<footer>
    <p>Loris & Julian</p>
    <a href="/index"><img src="/images/JustLogoNoBackground.png" alt="scope logo" class="logoHeader"></a>
    <p id="ScopeAcronym">
        <span><strong>S</strong> - Streaming</span>
        <span><strong>C</strong> - Catalog</span>
        <span><strong>O</strong> - Of</span>
        <span><strong>P</strong> - Premium</span>
        <span><strong>E</strong> - Entertainment</span>
    </p>
</footer>