:root {
    /*define the colors*/
    --primaryColor: #2CD5C4;
    --lightBlue: rgba(44,213,196,0.3);
    --veryDarkBlue: #11121F;
    --DarkBlue: #051620;
    --veryLightBlue: #e0ebf7;
}

*
{
    margin: 0;
    padding: 0;
}

h1
{
    
}

.loginFrame
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.loginTitle 
{
    display: flex;
    justify-content: center;
}

.loginCard
{
    display: flex;
    justify-content: center;
    width: 100%;
}


.loginFrame form 
{
    display: flex;
    flex-direction: column;
    align-items: center;
    appearance: none;
    text-decoration: none;
    width: 100%;
}

    .loginFrame form input {
        margin-top: 10px;
        width: 40%;
        appearance: none;
        text-decoration: none;
        background-color: var(--veryLightBlue);
        font-family: inherit;
        outline: none;
        border: none;
        border-radius: 5px;
        padding: 5px;
        color: var(--veryDarkBlue);

        min-width: 200px;
        max-width: 500px;

        height: 30px;

        font-size: 15px;
    }

.formBottom {
    display: flex;
    justify-content: space-between;
    width: calc(40% + 10px);
    min-width: 200px;
    max-width: 510px;
    margin-top: 10px;
    padding: 5px;
}

.formBottom .twoTiles
{
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-right: 15px;
}

.formbutton .onlyOneTile 
{
    width: 50%
}

.formBottom a
{
    display: flex;
    align-items: center;

}

button {
    
    padding: 5px;
    font-family: inherit;
    color: var(--veryDarkBlue);
    background-color: var(--veryLightBlue);
    border-radius: 5px;
    border: none;
    font-size: 15px;
}

