@page
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!--model und so kann potentiell entfernt werden-->
@model ProjektMitAPI.Pages.IndexModel
@{
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>SCOPE</title>
        <link rel="icon" href="images/JustLogoNoBackground.png">

        <link rel="stylesheet" href="~/styles/styles.css">
        <link rel="stylesheet" href="~/styles/index.css">
        <link rel="stylesheet" href="~/styles/loginStyle.css">



        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300;700&display=swap" rel="stylesheet">


        <script src="https://cdn.jsdelivr.net/npm/handlebars@4.7.7/dist/handlebars.min.js"></script>
        <script src="~/scripts/script.js" defer></script>
        <script src="/scripts/movieCardTemplates.js" defer></script>

    </head>
    <body>

        @{
            Html.RenderPartial("_header");
        }

        <main>
            <div class="loginFrame">

                <div class="loginTitle">
                    <h1>Hilfe</h1>
                </div>

                <div class="loginCard">

                    <form>
                        <input type="email" id="email" placeholder="Email" />
                        <br />

                        <div class="formBottom">
                            <div class="onlyOneTile">
                                <a href="/login">Zum Login</a>
                                
                            </div>

                            <button type="submit">Passwort zurücksetzten</button>

                        </div>

                    </form>

                </div>

            </div>

        </main>

        @{
            Html.RenderPartial("_footer");
        }



    </body>
    </html>
}